---
---

@import "{{ site.theme }}";

/**
    This stylesheet is inspired by https://docs.readthedocs.io/en/stable/
*/

// theme colours
$main-blue: #205e88;
$main-bg: #efefef;
$banner-bg: #343131;
$banner-border: #151515;
$btn-main: linear-gradient(#e5e5e5, #959da5);
$btn-hover: linear-gradient(#eaeaea, #a4abb1);

body {
    background: none;
    background-color: $main-bg;
}

header {
    background: $main-blue;

    h1 {
        font: 40px/48px "Helvetica Neue", Helvetica, Arial, sans-serif;
    }

    p {
        color: whitesmoke;
    }
}

section,
nav > ul {
    font-size: large;
}

ul {
    list-style: disc;
}

hr {
    border: 1px solid silver;
    height: auto;
    background: none;
}

a {
    color: $main-blue;
}

#banner {
    background: $banner-bg;
    border: 1px solid $banner-border;

    #logo {
        display: none;
    }

    .button {
        border: 1px solid #888;
        background: $btn-main;

        &:hover {
            background: $btn-hover;
            background-color: #888;
        }

        &:active {
            background: $btn-main;
        }
    }

    .fork {
        background-color: inherit;
    }
}

@media print, screen and (max-width: 1060px) {
    header h1,
    section h1,
    footer h1 {
        white-space: break-spaces;
    }

    section {
        padding: 16px;

        ul li {
            margin-block: 10px;
        }
    }
}

@media print, screen and (max-width: 720px) {
    header h1 {
        font-size: xx-large;
    }
}

@media print, screen and (max-width: 480px) {
    header h1 {
        font-size: x-large;
    }
}
